body {
  background: black;
}

#content {
  margin: 0 auto;
  width: 960px;
}

#header {
  margin-bottom: 20px;
}

#title {
  font-family: 'Slackey', cursive;
  font-size: 36px;
}

button {
  margin-bottom: 20px;
}

.row {
  clear: both;
}

.column {
  border: 1px solid #595139;
  float: left;
  font-family: 'Londrina Shadow', cursive;
  font-size: 50px;
  height: 150px;
  margin: 5px;
  text-align: center;
  vertical-align: middle;
  width: 150px;
}

.column:hover {
  background-color: #A6977B;
}

.found {
  background-color: #595139;
  color: #FFFFFF;
}

#info {
  font-family: 'Slackey', cursive;
  font-size: 50px;
}

.won {
  background-color: #F2F0CE;
  border: 1px solid #83A603;
  color: #83A603;
}

#timer {
  font-family: 'Slackey', cursive;
  font-size: 20px;
}
